
.title {
    text-align: center;

}

h4 {
    text-align: center;
    font-size: 18px;
    color:grey;
    font-weight: normal;
    margin-top: -30px;
}

h1 {
    text-align: center;
    font-family: Rosa Marena;
   /* font-weight: normal; */
}

.content {
    display: flex;
    width: 900px;
    flex-direction: row;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: initial;
    justify-content: space-between;
  
}

.table-content {

    width: 560px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    
}

.social-network {
    display: inline;

}


.self-photo {
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    width: 240px;
    height: 240px;
    margin-top: 20px;
}

.caption {
    display: flex;
    align-items: center;
    flex-direction: column;
 
}


.button-about-me {
    width: 260px;
    height: 35px;
    border: 2px solid #eba5c8;
    background-color: white;
    border-radius: 7px;
}

.button-follow-me {
    text-decoration: none;
    width: 260px;
    height: 35px;
    border: 2px solid #eba5c8;
    background-color: #eba5c8;
    border-radius: 7px;
}

.button-about-me:hover{
    cursor: pointer;
}
.button-follow-me:hover{
    cursor: pointer;
}

.main-picture {
    width: 900px;
}

.self-photo {
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    width: 240px;
    height: 240px;
    margin-top: 20px;
}
.img{
    width: 560px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-other{
    width: 420px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.main-words{
    background-color: #eba5c8;
    width: 900px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 105px;
    
}
.description{
    margin: 0;
}
.online-journey{
    font-size: 80px;
}
.main-words{
    font-size: 50px;
    color: white;
}