
/* вся страница */



h4 {
    text-align: center;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 80px;
    font-family: Rosa Marena;
}

.content {
    display: flex;
    width: 900px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: initial;
  
}

.table-content {
    width: 560px;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.table-item {
    width: 260px;
    text-align: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}


.main-picture {
    width: 900px;
}

.other-picture {
    width: 240px;
    height: 240px;
}

.self-photo {
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    width: 240px;
    height: 240px;
    margin-top: 20px;
}

.caption {
    display: flex;
    align-items: center;
    flex-direction: column;
 
}

p {
    text-align: center;
}

.button-about-me {
    width: 260px;
    height: 35px;
    border: 2px solid #eba5c8;
    background-color: white;
    border-radius: 7px;
}

.button-follow-me {
    text-decoration: none;
    width: 260px;
    height: 35px;
    border: 2px solid #eba5c8;
    background-color: #eba5c8;
    border-radius: 7px;
}

.button-about-me:hover{
    cursor: pointer;
}
.button-follow-me:hover{
    cursor: pointer;
}
.main-photo{
    width: 900px;
}

.button-prev, .button-next{
    
    background-color: grey;
    opacity: 0.5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;

}
.button-prev{
    position: absolute;
    top: calc(44% - 20px);
    left: 2%;
}
.button-next{
    position: absolute;
    top: calc(44% - 20px);
    right: 2%;
  

}

.arrow-left {
    position: relative;
    left: 9px;
    top: 7px;
    width: 40%;
    width: 40%;
}
.arrow-right {
    position: relative;
    right: -15px;
    top: 7px;
    width: 40%;
    width: 40%;
}
.social-network{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
.network{
    height: 25px;
    width: 25px;
}








.table-item-text:hover + .popup {
    display: block;
}
.popup{
    display: none;
    z-index: 100;
    position: absolute;
    height: 100px;
     width: 260px;
     background-color: black;
    opacity: 0.7;
}
.popup > p{
    text-align: center;
    opacity: 1;
    color: white;  
    margin-left: 3px;
    margin-right: 3px;
}
